{% extends "navbar.html" %}
{% block content %}
        
<div class="container my-5">
  <form method="POST" action="/selisih">
    
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Timeout 1</label>
      <input type="text" class="form-control" name="tTimeout1" value="2023-10-10 00:00:00">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Timeout 2</label>
      <input type="text" class="form-control" name="tTimeout2" value="2023-10-10 23:59:59">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
{% endblock %}