{% extends "navbar.html" %}
{% block title %}Home Page {% endblock %}
{% block content %}
   <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
                    	<b>POS 01</b><br>
                    	<b>User</b><br>
                    	hakim<br>
                    	<b>Ip address</b><br>
                    	192.168.168.168
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
                    	<b>POS 02</b><br>
                    	<b>User</b><br>
                    	hafiz<br>
                    	<b>Ip address</b><br>
                    	192.168.168.169
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
                    	<b>POS 03</b><br>
                    	<b>User</b><br>
                    	bina<br>
                    	<b>Ip address</b><br>
                    	192.168.168.170
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
                    	<b>POS 04</b><br>
                    	<b>User</b><br>
                    	anisa<br>
                    	<b>Ip address</b><br>
                    	192.168.168.171
                    </a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                
                <!-- Page content-->
                <p>Total pendapatan terupdate hari ini 14 Mar 2022 : Rp 3,000,000</p>
                <div class="container-fluid">
                    <div class="album py-5 bg-light">
					    <div class="container">

					      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					        <div class="col">
					          <div class="card shadow-sm">
					            <img src="/static/image/1.jpg" class="d-block w-100" alt="...">
								<div class="card-body">
					              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					              
					            </div>
					          </div>
					        </div>
					        <div class="col">
					          <div class="card shadow-sm">
					            <img src="/static/image/2.jpg" class="d-block w-100" alt="...">

					            <div class="card-body">
					              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					              
					            </div>
					          </div>
					        </div>
					        <div class="col">
					          <div class="card shadow-sm">
					            <img src="/static/image/3.jpg" class="d-block w-100" alt="...">

					            <div class="card-body">
					              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					              
					            </div>
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
			    </div>
            </div>
        </div>

{% endblock %}